# Kept out of git while the VAN-OP repository is public (docs/SECURITY-REGISTER.md, S-07).
# The demo's seed holds VAN's real obligation and licence register; the Word file lists VAN's
# compliance lapses. Remove these 2 lines once the repository is private.
nigehbaan-demo.html
docs/نگہبان Nigehbaan.docx
